%button {
	background-color: $background2;
	border: none;
	color: $text1;
	display: block;
	float: left;
	margin-bottom: 40px;
	margin-right: 10px;
	padding: 10px;
	text-transform: uppercase;
	@include font-size(8);
}

%content {
	max-width: $content-width;
	margin: 0 auto;
}

%follow-us {
	color: $text1;
	float: right;
    padding: 10px;
    font-family: $sans;
    @include font-size(12);
}