// Colores
$background1: #FFF;
$background2: #00A0A9;
$footer-background: #CDCDCD;
$footer-text: #5B5B5B;
$text1: #FFF;
$texto2: #000; 
$texto3: #00A0A9; 

// Tipografías
$sans: Helvetica, Arial, sans-serif;

//layout
$content-width: 960px;
