/* #Variables
================================================= */
// Colores
$turquesa: #00a0aa;
$naranja: #fc7404;
$celeste: #2aa9e0;
$gris: #d4d4d4;
$black: #3e3e3e;
$white: #fff;

// Tipografías
$sans: Helvetica, Arial, sans-serif;
$serif: Georgia, 'Times New Roman', serif;

// Grid sizes
$grid-context: 960px;
$grid-sidebar: 300px;
$grid-main-content: 600px;