article {
	background-color: $background1;
	border-bottom: 2px solid #AEAEAE;
	padding: 30px;
}

.article p {
	padding-bottom: 10px;
}

.article {
	overflow: hidden;
}

.articles {
	margin-left: 183px;
	width: 642px;
}

.date {
	margin: 20px 0;
}

.new-image {
	float: left;
	margin-right: 20px;
}

.main-article p {
	margin: 20px 0;
}

.main-article {
  margin-top: -136px;
}

.read-more {
	color: $texto3;
	text-decoration: none;
}

.load-more {
	border-radius: 5px;
	float: none;
	margin: -18px 0 0 255px;
	padding: 10px 50px;
	text-transform: capitalize;
	@extend %button;
}