header {
  background-color: $background2;
  height: 280px;
}

.main-title {
  color: $text1;
  padding-top: 30px;
  text-transform: uppercase;
  @include font-size(28);
}

.social {
  @extend %follow-us;
}

.social-items img {
  margin-right: 14px;
}

.social-items {
  float: right;
  margin-right: 140px;
}